//- @pugdoc
  name: categoryNavigation
  description: create hexo category list
  beforeEach: |
    include ../../utils/util
  arguments:
    - {object} props
    - | {object} [props.options]
      @see https://hexo.io/ko/docs/helpers#list-categories
  examples:
    - |
      +categoryNavigation()

mixin categoryNavigation(props = {})
  -
    // define types
    const categoryNavProps = {
      options: PropTypes.object,
    };

    // verifying props
    validateProps(categoryNavProps)(props);

    const { prefix } = theme;

    // merge user-supplied options with the defaults
    const defaultProps = {
      options: {
        show_count: false,
        show_current: true,
        class: `${prefix}-category-nav`
      },
    };

    const {
      options,
      ...attrs
    } = {
      ...defaultProps,
      ...props,
      options: {
        ...defaultProps.options,
        ...(props?.options),
      }
    };

  nav(
    class= options.class
    aria-label= `categories`
  )&attributes(attrs)
    | !{listCategories(options)}
