@use "sass:math";
@use "sass:map";
@use "sass:color";

@function create-color-palette($base-color, $steps: 21) {
  $shades: ();
  $hue: color.channel($base-color, "hue", $space: hsl);
  $saturation: color.channel($base-color, "saturation", $space: hsl);
  $lightness: color.channel($base-color, "lightness", $space: hsl);
  $step-value: math.div(100, ($steps - 1));
  $middle-index: math.floor(math.div($steps, 2));

  @for $i from 0 through $steps - 1 {
    $current-step: math.floor($i * $step-value);
    $lightness: $current-step * 1%;
    $adjusted-saturation: $saturation;

    @if $current-step < 10 {
      $adjusted-saturation: $saturation * math.div($current-step, 10);
    } @else if $current-step > 90 {
      $adjusted-saturation: $saturation * (1 - math.div($current-step - 90, 10));
    }

    $shade: hsl($hue, $adjusted-saturation, $lightness);
    $shades: map.set($shades, $current-step, $shade);
  }

  @return $shades;
}
