include /components/atoms/heading/index
include /components/molecules/post-card/index
include /components/molecules/pagination/index

//- @pugdoc
  name: postsList
  description: create accordion component
  beforeEach: |
    include ../../utils/util
    include ../../atoms/heading/index
    include ../../molecules/post-card/index
    include ../../molecules/pagination/index
  arguments:
    - {object} props
    - |
      {array} props.posts hexo page.posts
      @see https://hexo.io/docs/variables.html#Page-Variables
    - |
      {object} props.headingProp prop of heading component
      @see atoms.md#heading
    - {string} [props.headingTitle] the string as heading label
    - {string} [props.headingSlotContent] the contents as heading slot
  examples:
    - |
      +postsList({
        posts: (posts || []),
        headingProp: { level: 1, visible: false },
        headingTitle: `recently articles`,
      })

mixin postsList(props)
  -
    const postsListProps = {
      posts: PropTypes.array.isRequired,
      headingProp: PropTypes.object.isRequired,
      headingTitle: PropTypes.string,
      headingSlotContent: PropTypes.string,
    };
    const postsListValidate = validateProps(postsListProps);
    const {
      posts,
      headingProp,
      headingTitle,
      headingSlotContent,
      ...attrs
    } = props;
    postsListValidate({posts, headingProp, headingTitle, headingSlotContent});

    const {prefix} = theme;
    const headingId = generateUid();

    const _headingProp = {
      ...headingProp,
      id: headingId,
      class: [
        Array.isArray(headingProp.class)
          ? headingProp.class.join(" ")
          : headingProp.class,
        `${prefix}-posts__heading`,
      ],
    };

  section(aria-labelledby= headingId)&attributes(attrs)
    +heading(_headingProp)
      if headingSlotContent
        +headingSlot
          | !{headingSlotContent}
      else
        = headingTitle
    ol(class=`${prefix}-posts`)
      each post in posts
        li(class= `${prefix}-posts__list-item`)
          +postCard({post, isLink: true})
    +pagination({
      labelRef: headingId,
      options: {
        base: config.url,
        format: `/page/%d`,
      }
    })
