include /components/molecules/post-card/index

//- @pugdoc
  name: postsList
  description: create accordion component
  beforeEach: |
    include ../../utils/util
    include ../../molecules/post-card/index
  arguments:
    - {object} props
    - |
      {array} props.posts hexo page.posts
      @see https://hexo.io/docs/variables.html#Page-Variables
  examples:
    - |
      +postsList({
        posts: (posts || []),
      })

mixin postsList(props = {})
  -
    // define types
    const postsListProps = {
      posts: PropTypes.array.isRequired,
    };

    // verifying props
    validateProps(postsListProps)(props);

    const {
      posts,
      ...attrs
    } = {
      ...props,
    };

    const { prefix } = theme;

  ol(class=`${prefix}-posts`)
    each post in posts
      li(class= `${prefix}-posts__list-item`)
        +postCard({post, isLink: true})
