extends /components/templates/common.pug
include /components/organisms/hero/index.pug
include /components/organisms/posts-list/index.pug

block heroContent
  -
    const listHero = (primaryHero && primaryHero.path) ? primaryHero : hero;

  +hero(listHero && {imgSrc: listHero.path, class: `${prefix}-section-hero`})

block mainContent
  -
    const defaultHeadingProp = {level: 1, visible: false };
    const listHeadingProp = {
      ...(headingProp || defaultHeadingProp),
      class: [
        Array.isArray((headingProp || defdefaultHeadingPropaultProp).class)
          ? (headingProp || defaultHeadingProp).class.join(" ")
          : (headingProp || defaultHeadingProp).class,
        `${prefix}-post-list__heading`
      ],
    };

  +postsList({
    posts,
    headingProp: listHeadingProp,
    headingTitle: headingTitle || ``,
    headingSlotContent: headingSlotContent || ``,
    usePagination: false,
    class: `${prefix}-post-list`
  })

block sidebar