extends /components/templates/common
include /components/organisms/hero/index
include /components/organisms/articles-list/index

block heroContent

  if (hero)
    +hero({
      imgSrc: hero.path,
      width: hero.width,
      height: hero.height,
    })

block mainContent
  -
    const headingId = generate_uid();
    const headingProp = {
      id: headingId,
      level: 1,
      visible: false,
      class: `${prefix}-home-list__heading`,
    };

  div(class=`${prefix}-home-list`)
    +heading(headingProp)
      = _p('label.posts.recently')

    +articlesList({
      posts,
    })

block sidebar
