extends /components/templates/common
include /components/organisms/hero/index
include /components/organisms/posts-list/index

block heroContent
  -
    const listHero = (primaryHero && primaryHero.path) ? primaryHero : hero;

  if (listHero)
    +hero(listHero && {imgSrc: listHero.path, class: `${prefix}-home-hero`})

block mainContent
  -
    const headingId = generateUid();
    const headingProp = {
      id: headingId,
      level: 1,
      visible: false,
      class: `${prefix}-home-list__heading`,
    };

  section(class=`${prefix}-home-list`)
    +heading(headingProp)
      = _p('label.posts.recently')

    +postsList({
      posts,
    })

block sidebar
