*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
p,
figure,
blockquote {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-base);
  line-height: var(--font-line-height-default);
  text-size-adjust: 100%;
  width: 100%;
  height: 100%;

  &[data-size="small"] {
    --font-size-base: #{$font-size-smallest * 0.875};
  }
  &[data-size="large"] {
    --font-size-base: #{$font-size-smallest * 1.25};
  }

  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  background-color: var(--background-color);
  color: var(--text-color-primary);
  word-break: break-all;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  font-size: var(--font-size-default);
}

%anchor-default {
  display: inline-block;
  border-radius: 0.125em;
  color: var(--text-link-color);
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.3em;
  text-decoration-color: var(--text-link-decoration-color);

  &:focus {
    outline: 3px solid var(--text-link-outline-color);
    outline-offset: 2px;
  }
}

%anchor-animate {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(
      to top,
      transparent,
      var(--text-link-hover-background-color) 0 0
    );
  background-position: 0 0, 0% 100%;
  background-size: 100%, 100% 0%;
  background-repeat: no-repeat;
  @media (prefers-reduced-motion: no-preference) {
    transition: color 0.2s, background-size 0.2s ease-in-out;
  }

  &:hover {
    color: var(--text-link-hover-color);
    text-decoration: none;
    background-size: 100%, 100% 100%;
  }
}

a[href] {
  @extend %anchor-default;
}

:where(article) a,
:where(._footer) a {
  @extend %anchor-animate;
}

.sr-only {
  @include sr-only;
}
