:root {
  color-scheme: dark light;
  --font-family-serif: #{$font-families-serif};
  --font-family-sans-serif: #{$font-families-sans-serif};
  --font-family-code: #{$font-families-code};
  --font-size-base: #{$font-size-smallest};
  --font-size-small: #{getFontSize(1) * 0.875};
  --font-size-default: #{getFontSize(1)};
  --font-size-large: #{getFontSize(2)};
  --font-size-heading-level-1: #{getFontSize(7)};
  --font-size-heading-level-2: #{getFontSize(6)};
  --font-size-heading-level-3: #{getFontSize(5)};
  --font-size-heading-level-4: #{getFontSize(4)};
  --font-size-heading-level-5: #{getFontSize(3)};
  --font-size-heading-level-6: #{getFontSize(2)};
  --font-line-height-default: #{$font-line-height-default};
  --font-weight-thin: #{$font-weight-thin};
  --font-weight-extra-light: #{$font-weight-extra-light};
  --font-weight-light: #{$font-weight-light};
  --font-weight-normal: #{$font-weight-normal};
  --font-weight-medium: #{$font-weight-medium};
  --font-weight-semi-bold: #{$font-weight-semi-bold};
  --font-weight-bold: #{$font-weight-bold};
  --font-weight-extra-bold: #{$font-weight-extra-bold};

  --button-border-radius: 0.25rem;
  --box-border-radius: 0.5rem;

  --modal-z-index: 950;
  --highest--z-index: 900;

  @include colorScheme(light) {
    @include defineColorVar(--background-color, $color-neutral-05);
    @include defineColorVar(--text-color-primary, $color-neutral-95);
    @include defineColorVar(--text-color-secondary, $color-neutral-75);
    @include defineColorVar(--text-color-accent, $color-green-70);
    @include defineColorVar(--text-link-color, $color-blue-70);
    @include defineColorVar(
      --text-link-hover-background-color,
      $color-green-65
    );
    @include defineColorVar(--text-link-hover-color, $color-neutral-05);
    @include defineColorVar(--text-link-decoration-color, $color-blue-grey-70);
    @include defineColorVar(--text-link-outline-color, $color-green-60);
    @include defineColorVar(
      --text-link-box-shadow-color,
      rgba($color-green-85, 0.375)
    );
    @include defineColorVar(--text-link-placeholder-color, $color-neutral-50);

    @include defineColorVar(--primary-button-background-color, $color-green-50);
    @include defineColorVar(
      --primary-button-active-background-color,
      $color-green-65
    );
    @include defineColorVar(--primary-button-border-color, $color-green-60);
    @include defineColorVar(
      --primary-button-active-border-color,
      $color-green-75
    );
    @include defineColorVar(--primary-button-outline-color, $color-green-60);
    @include defineColorVar(
      --primary-button-active-outline-color,
      $color-green-60
    );
    @include defineColorVar(
      --primary-button-shadow-color,
      rgba($color-green-85, 0.375)
    );
    @include defineColorVar(
      --primary-button-active-shadow-color,
      rgba($color-green-85, 0.75)
    );
    @include defineColorVar(--primary-button-separator-color, $color-green-35);
    @include defineColorVar(--primary-button-text-color, $white);
    @include defineColorVar(--primary-button-text-color-dark, $color-green-75);

    @include defineColorVar(--primary-card-border-color, $color-neutral-50);
    @include defineColorVar(
      --primary-card-hover-border-color,
      $color-neutral-70
    );
    @include defineColorVar(--primary-card-focus-border-color, $color-green-45);
    @include defineColorVar(
      --primary-card-focus-shadow-color,
      rgba($color-green-85, 0.375)
    );

    @include defineColorVar(--panel-background-color, $color-blue-grey-10);
    @include defineColorVar(--panel-shadow-color, $color-neutral-80);

    @include defineColorVar(--separator-border-color, $color-neutral-20);
  }

  @include colorScheme(dark) {
    @include defineColorVar(--background-color, $color-blue-grey-85);
    @include defineColorVar(--text-color-primary, $color-neutral-05);
    @include defineColorVar(--text-color-secondary, $color-neutral-30);
    @include defineColorVar(--text-color-accent, $color-green-30);
    @include defineColorVar(--text-link-color, $color-blue-20);
    @include defineColorVar(
      --text-link-hover-background-color,
      $color-green-40
    );
    @include defineColorVar(--text-link-hover-color, $white);
    @include defineColorVar(--text-link-decoration-color, $color-blue-grey-25);
    @include defineColorVar(--text-link-outline-color, $color-green-30);
    @include defineColorVar(
      --text-link-box-shadow-color,
      rgba($color-green-85, 0.375)
    );
    @include defineColorVar(--text-link-placeholder-color, $color-neutral-50);

    @include defineColorVar(--primary-button-background-color, $color-green-50);
    @include defineColorVar(
      --primary-button-active-background-color,
      $color-green-65
    );
    @include defineColorVar(--primary-button-border-color, $color-green-40);
    @include defineColorVar(
      --primary-button-active-border-color,
      $color-green-30
    );
    @include defineColorVar(--primary-button-outline-color, $color-green-60);
    @include defineColorVar(
      --primary-button-active-outline-color,
      $color-green-15
    );
    @include defineColorVar(
      --primary-button-shadow-color,
      rgba($color-green-75, 0.875)
    );
    @include defineColorVar(
      --primary-button-active-shadow-color,
      rgba($color-green-85, 0.75)
    );
    @include defineColorVar(--primary-button-separator-color, $color-green-35);
    @include defineColorVar(--primary-button-text-color, $white);
    @include defineColorVar(--primary-button-text-color-dark, $color-green-15);

    @include defineColorVar(--primary-card-border-color, $color-neutral-55);
    @include defineColorVar(
      --primary-card-hover-border-color,
      $color-neutral-25
    );
    @include defineColorVar(--primary-card-focus-border-color, $color-green-30);
    @include defineColorVar(
      --primary-card-focus-shadow-color,
      rgba($color-green-85, 0.725)
    );

    @include defineColorVar(--panel-background-color, $color-blue-grey-90);
    @include defineColorVar(--panel-shadow-color, $color-green-40);

    @include defineColorVar(--separator-border-color, $color-neutral-60);
  }
}
