:root {
  color-scheme: dark light;
  --font-family-serif: #{$font-family-serif};
  --font-family-sans-serif: #{$font-family-sans-serif};
  --font-family-code: #{$font-families-code};
  --font-size-base: #{getFontSize(1) * $font-responsive-ratio-default};
  --font-size-default: #{getFontSize(1)};
  --font-size-large: #{getFontSize(2)};
  --font-size-heading-level-1: #{getFontSize(7)};
  --font-size-heading-level-2: #{getFontSize(6)};
  --font-size-heading-level-3: #{getFontSize(5)};
  --font-size-heading-level-4: #{getFontSize(4)};
  --font-size-heading-level-5: #{getFontSize(3)};
  --font-size-heading-level-6: #{getFontSize(2)};
  --font-line-height-default: #{$font-line-height-default};
  --font-weight-thin: #{$font-weight-thin};
  --font-weight-extra-light: #{$font-weight-extra-light};
  --font-weight-light: #{$font-weight-light};
  --font-weight-normal: #{$font-weight-normal};
  --font-weight-medium: #{$font-weight-medium};
  --font-weight-semi-bold: #{$font-weight-semi-bold};
  --font-weight-bold: #{$font-weight-bold};
  --font-weight-extra-bold: #{$font-weight-extra-bold};

  --button-border-radius: 0.25rem;
  --box-border-radius: 0.5rem;

  @include colorScheme(light) {
    --background-color: #{$color-neutral-05};
    --text-color-primary: #{$color-neutral-95};
    --text-color-secondary: #{$color-neutral-75};
    --text-color-accent: #{$color-green-70};
    --text-link-color: #{$color-blue-70};
    --text-link-hover-background-color: #{$color-green-65};
    --text-link-hover-color: #{$color-neutral-05};
    --text-link-decoration-color: #{$color-blue-grey-70};
    --text-link-outline-color: #{$color-green-60};
    --text-link-box-shadow-color: #{rgba($color-green-85, 0.375)};
    --text-link-placeholder-color: #{$color-neutral-50};

    --primary-button-background-color: #{$color-green-50};
    --primary-button-active-background-color: #{$color-green-65};
    --primary-button-border-color: #{$color-green-60};
    --primary-button-active-border-color: #{$color-green-75};
    --primary-button-outline-color: #{$color-green-60};
    --primary-button-active-outline-color: #{$color-green-60};
    --primary-button-shadow-color: #{rgba($color-green-85, 0.375)};
    --primary-button-active-shadow-color: #{rgba($color-green-85, 0.75)};
    --primary-button-separator-color: #{$color-green-35};
    --primary-button-text-color: #{$white};
    --primary-button-text-color-dark: #{$color-green-75};

    --primary-card-border-color: #{$color-neutral-50};
    --primary-card-hover-border-color: #{$color-neutral-70};
    --primary-card-focus-border-color: #{$color-green-45};
    --primary-card-focus-shadow-color: #{rgba($color-green-85, 0.375)};

    --panel-background-color: #{$color-blue-grey-10};
    --panel-shadow-color: #{$color-neutral-80};

    --separator-border-color: #{$color-neutral-20};
  }

  @include colorScheme(dark) {
    --background-color: #{$color-blue-grey-85};
    --text-color-primary: #{$color-neutral-05};
    --text-color-secondary: #{$color-neutral-30};
    --text-link-color: #{$color-blue-20};
    --text-link-hover-background-color: #{$color-green-65};
    --text-link-hover-color: #{$white};
    --text-link-decoration-color: #{$color-blue-grey-25};
    --text-link-outline-color: #{$color-green-30};
    --text-link-box-shadow-color: #{rgba($color-green-85, 0.375)};
    --text-link-placeholder-color: #{$color-neutral-50};

    --primary-button-background-color: #{$color-green-50};
    --primary-button-active-background-color: #{$color-green-65};
    --primary-button-border-color: #{$color-green-40};
    --primary-button-active-border-color: #{$color-green-30};
    --primary-button-outline-color: #{$color-green-60};
    --primary-button-active-outline-color: #{$color-green-15};
    --primary-button-shadow-color: #{rgba($color-green-75, 0.875)};
    --primary-button-active-shadow-color: #{rgba($color-green-85, 0.75)};
    --primary-button-separator-color: #{$color-green-35};
    --primary-button-text-color: #{$white};
    --primary-button-text-color-dark: #{$color-green-15};

    --primary-card-border-color: #{$color-neutral-55};
    --primary-card-hover-border-color: #{$color-neutral-25};
    --primary-card-focus-border-color: #{$color-green-30};
    --primary-card-focus-shadow-color: #{rgba($color-green-85, 0.725)};

    --panel-background-color: #{$color-blue-grey-90};
    --panel-shadow-color: #{$color-green-40};

    --separator-border-color: #{$color-neutral-60};
  }

  @include respond-to(tablet) {
    --font-size-base: #{$font-size-default * $font-responsive-ratio-tablet};
  }

  @include respond-to(pc) {
    --font-size-base: #{$font-size-default * $font-responsive-ratio-pc};
  }
}
