//- @pugdoc
  name: commento
  description: commento comments component
  beforeEach: |
    include /components/utils/util
  arguments:
    - {object} [props] [`{}`]
  examples:
    - |
      +commento()

mixin commento(props= {})
  -
    // define types
    const commentoProps = {};

    // verifying props
    validateProps(commentoProps)(props);

  div#commento()&attributes(props)
