//- @pugdoc
  name: disqus
  description: disqus comments component
  beforeEach: |
    include /components/utils/util
  arguments:
    - {object} [props] [`{}`]
  examples:
    - |
      +disqus()

mixin disqus(props= {})
  -
    // define types
    const disqusProps = {};

    // verifying props
    validateProps(disqusProps)(props);

  div#disqus_thread()&attributes(props)
