//- @pugdoc
  name: giscus
  description: giscus comments component
  beforeEach: |
    include /components/utils/util
  arguments:
    - {object} [props] [`{}`]
  examples:
    - |
      +giscus()

mixin giscus(props= {})
  -
    // define types
    const giscusProps = {};

    // verifying props
    validateProps(giscusProps)(props);

  script#giscus()&attributes(props)
