//- @pugdoc
  name: livere
  description: livere comments component
  beforeEach: |
    include /components/utils/util
  arguments:
    - {object} [props] [`{}`]
  examples:
    - |
      +livere()

mixin livere(props= {})
  -
    // define types
    const livereProps = {};

    // verifying props
    validateProps(livereProps)(props);

    const { livere: { uid } } = theme;

  div#lv-container(
    data-id= `city`
    data-uid= uid
  )&attributes(props)
