//- @pugdoc
  name: utterance
  description: create utterance comments
  beforeEach: |
    include /components/utils/util
  arguments:
    - {object} props
  examples:
    - |
      +utterance()

mixin utterance(props= {})
  -
    // define types
    const utteranceProps = {};

    // verifying props
    validateProps(utteranceProps)(props);

  script#utterance()&attributes(props)
