include /components/molecules/article-card/index

//- @pugdoc
  name: articlesList
  description: article list
  beforeEach: |
    include /components/utils/util
    include /components/molecules/article-card/index
  arguments:
    - {object} props
    - |
      {array} props.posts hexo page.posts
      @see https://hexo.io/docs/variables.html#Page-Variables
  examples:
    - |
      +articlesList({
        posts: posts.toArray(),
      })

mixin articlesList(props = {})
  -
    // define types
    const articlesListProps = {
      posts: PropTypes.array.isRequired,
    };

    // verifying props
    validateProps(articlesListProps)(props);

    const {
      posts,
      ...attrs
    } = {
      ...props,
    };

    const { prefix } = theme;

  ol(class=`${prefix}-articles-list`)&attributes(attrs)
    each post in posts
      li(class= `${prefix}-articles-list__item`)
        +articleCard({post, isLink: true})
