{
  "pluginSearchDirs": ["./node_modules"],
  "printWidth": 90,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf"
}
