extends /components/templates/common
include /components/atoms/heading/index
include /components/molecules/search-bar/index
include /components/organisms/hero/index

block heroContent

  if (hero)
    +hero({imgSrc: hero.path, class: `${prefix}-home-hero`})

block mainContent
  +heading({
    level: 1,
    visible: false,
  })
    = _p("section.search")
  +searchBar({
    textfieldId: `keyword`,
    searchBtnId: `btn-search`,
    id: `search`
  })

  #search-result

  #search-status(
    role= "status"
  )

block sidebar
