.#{$prefix}-author {
  --profile-image-with: 3rem;
  --profile-image-padding: 0.5rem;
  --column-gap: 0.75rem;
  --row-gap: 0.5rem;

  @include respond-to(tablet) {
    --profile-image-with: 5rem;
    --profile-image-padding: 0.75rem;
    --column-gap: 2rem;
    --row-gap: 0.75rem;
  }

  max-width: 80ch;
  display: grid;
  grid-template-areas:
    "image name"
    "image description"
    "_ social";
  grid-template-columns: var(--profile-image-with) 1fr;
  row-gap: var(--row-gap);
  column-gap: var(--column-gap);
  align-items: center;

  &--no-desc {
    grid-template-areas:
      "image name"
      "_ social";
    grid-template-columns: 2rem 1fr;
  }

  &__gravatar {
    overflow: hidden;
    grid-area: image;
    border-radius: 50%;
    padding: var(--profile-image-padding);
    width: var(--profile-image-with);
    height: var(--profile-image-with);
    background-color: var(--box-background-color);
    box-shadow: 1px 1px 5px rgba(var(--box-shadow-color-rgb), 0.375);

    .#{$prefix}-author--no-desc & {
      padding: 0.25rem;
      width: 2rem;
      height: 2rem;
    }

    > img {
      max-width: 100%;
    }
  }

  &__name {
    grid-area: name;
    font-size: var(--font-size-default);
  }

  &__social {
    grid-area: social;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75em;

    &__link {
      flex: 0 1 1.6em;
    }

    &__icon {
      display: block;
      aspect-ratio: 1/1;

      &--github {
        color: var(--brand-github-color);
      }
      &--facebook {
        color: var(--brand-facebook-color);
      }
      &--linkedin {
        color: var(--brand-linkedin-color);
      }
      &--instagram {
        color: var(--brand-instagram-color);
      }
      &--twitter {
        color: var(--brand-twitter-color);
      }
      &--rss {
        color: var(--brand-rss-color);
      }
    }
  }

  &__desc {
    grid-area: description;
    font-size: var(--font-size-small);
  }
}
