@layer atom {
  .btn {
    --transition-duration: 0.3s;

    position: relative;
    z-index: 1;
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    appearance: none;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;

    @media (prefers-reduced-motion: no-preference) {
      transition: color var(--transition-duration) ease;
    }
  }

  .btn-basic {
    --padding-vertical: 0.3125rem;
    --padding-horizontal: 1rem;
    --min-width: fit-content;
    --min-height: 2.75rem;

    gap: 4px;
    min-width: var(--min-width);
    min-height: var(--min-height);
    padding: var(--padding-vertical) var(--padding-horizontal);
    font-family: var(--sans-serif);

    @include typo(base, base, 500);

    &--small {
      --padding-vertical: 0.1875rem;
      --padding-horizontal: 0.75rem;
      --min-width: 4.5rem;
      --min-height: 2.25rem;

      @include typo(xs);
    }

    &--large {
      --padding-vertical: 0.6875rem;
      --padding-horizontal: 1.25rem;
      --min-width: 8rem;
      --min-height: 3.75rem;

      @include typo(xl);
    }

    &--fluid {
      --padding-vertical: 0.625rem;
      --padding-horizontal: 1rem;

      width: 100%; // fallback
      width: stretch;
    }

    &--fill {
      color: var(--btn-primary-text);
      background-color: var(--btn-primary-surface);
      background-image: radial-gradient(
        ellipse at bottom left,
        var(--doc-bg) 0%,
        var(--doc-bg) 50%,
        transparent 50%,
        transparent 100%
      );
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: 0 0;
      border-color: var(--btn-primary-border-color);

      @media (prefers-reduced-motion: no-preference) {
        transition:
          color var(--transition-duration) ease,
          background-size var(--transition-duration) ease-out;
      }

      &:focus,
      &:hover {
        color: var(--btn-primary-surface);
        background-size: 300% 300%;

        @media (prefers-reduced-motion: reduce) {
          background-color: var(--doc-bg);
        }
      }
    }

    &--outline {
      color: var(--btn-primary-surface);
      background-color: var(--doc-bg);
      background-image: radial-gradient(
        ellipse at bottom left,
        var(--btn-primary-surface) 0%,
        var(--btn-primary-surface) 50%,
        transparent 50%,
        transparent 100%
      );
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: 0 0;
      border-color: var(--btn-primary-surface);

      @media (prefers-reduced-motion: no-preference) {
        transition:
          color var(--transition-duration) ease,
          background-size var(--transition-duration) ease-out;
      }

      &:focus,
      &:hover {
        color: var(--btn-primary-text);
        background-size: 300% 300%;

        @media (prefers-reduced-motion: reduce) {
          background-color: var(--btn-primary-surface);
        }
      }

      &:focus,
      &:focus-visible {
        border-color: var(--doc-bg);
      }
    }
  }

  .btn-icon {
    --min-height: 2.75rem;
    --padding: 0.375rem;
    --icon-size: 1.75rem;

    position: relative;
    min-height: var(--min-height);
    aspect-ratio: 1;
    padding: var(--padding);

    @include typo(base, base, 500);

    &--small {
      --label-size: 0.875rem;
      --min-height: 2.25rem;
      --padding: 0.25rem;
      --icon-size: 1.25rem;

      @include typo(xs);
    }

    &--large {
      --min-height: 3.75rem;
      --padding: 0.5rem;
      --icon-size: 2.25rem;

      @include typo(xl);
    }

    &--fill {
      color: var(--btn-primary-text);
      background-color: var(--btn-primary-surface);
      background-image: radial-gradient(
        ellipse at bottom left,
        var(--doc-bg) 0%,
        var(--doc-bg) 50%,
        transparent 50%,
        transparent 100%
      );
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: 0 0;
      border-color: var(--btn-primary-border-color);

      @media (prefers-reduced-motion: no-preference) {
        transition:
          color var(--transition-duration) ease,
          background-size var(--transition-duration) ease-out;
      }

      &:focus,
      &:hover {
        color: var(--btn-primary-surface);
        background-size: 300% 300%;

        @media (prefers-reduced-motion: reduce) {
          background-color: var(--doc-bg);
        }
      }
    }

    &--outline {
      color: var(--btn-primary-surface);
      background-color: var(--doc-bg);
      background-image: radial-gradient(
        ellipse at bottom left,
        var(--btn-primary-surface) 0%,
        var(--btn-primary-surface) 50%,
        transparent 50%,
        transparent 100%
      );
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: 0 0;
      border-color: var(--btn-primary-surface);

      @media (prefers-reduced-motion: no-preference) {
        transition:
          color var(--transition-duration) ease,
          background-size var(--transition-duration) ease-out;
      }

      &:focus,
      &:hover {
        color: var(--btn-primary-text);
        background-size: 300% 300%;

        @media (prefers-reduced-motion: reduce) {
          background-color: var(--btn-primary-surface);
        }
      }

      &:focus,
      &:focus-visible {
        border-color: var(--doc-bg);
      }
    }

    &__icon {
      width: var(--icon-size);
      aspect-ratio: 1;

      &--thin {
        stroke-width: 1px;
      }

      &--medium {
        stroke-width: 2px;
      }

      &--bold {
        stroke-width: 4px;
      }
    }

    &__label {
      white-space: nowrap;
    }
  }
}
