extends /components/templates/common
include /components/atoms/heading/index
include /components/organisms/hero/index
include /components/organisms/archives/timeline

block heroContent
  -
    const listHero = (primaryHero && primaryHero.path) ? primaryHero : hero;

  if (listHero)
    +hero(listHero && {imgSrc: listHero.path, class: `${prefix}-section-hero`})

block mainContent
  -
    const archiveProp = {
      archives,
      headingLevel: 2,
      displayYearNum: 2,
      currYear,
    };
  div
    if (page.year)
      +heading({
        level: 1,
        visible: false,
        htmlString: _p('label.posts.yearly', page.year)
      })
    else
      +heading({
        level: 1,
        visible: false,
        htmlString: _p('label.posts.archives')
      })
    +archiveTimeline(archiveProp)

block sidebar
