.#{$prefix}-post-card {
  $link-card: #{&}--link;

  overflow: hidden;
  display: grid;
  grid-template-areas:
    "thumb"
    "heading"
    "meta"
    "body";
  margin: 1em 0;
  padding: 1em;
  border: 1px solid var(--primary-card-border-color);
  border-radius: var(--box-border-radius);

  &:hover {
    border-color: var(--primary-card-hover-border-color);
  }

  &#{$link-card} {
    &:hover {
      cursor: pointer;
    }
    &:focus-within,
    &:active {
      outline: 3px solid var(--primary-card-focus-border-color);
      outline-offset: 0;
      border-color: var(--primary-card-focus-border-color);
      box-shadow: 2px 2px 3px 2px var(--primary-card-focus-shadow-color);
    }
  }

  @include respond-to(tablet) {
    grid-template-columns: 7fr 3fr;
    grid-template-areas:
      "heading thumb"
      "meta thumb"
      "body thumb";
  }

  &__thumb {
    grid-area: thumb;
    margin: -1em -1em 0;
    width: calc(100% + 2em);
    object-fit: cover;
    aspect-ratio: math.div(16, 9);

    @include respond-to(tablet) {
      margin: -1em -1em -1em 0;
      min-width: calc(100% + 2em);
      min-height: calc(100% + 2em);
      aspect-ratio: math.div(4, 3);
    }
  }

  &__heading {
    grid-area: heading;
    margin: 0.75em 0 1em;
    font-size: var(--font-size-heading-level-6);
    font-weight: var(--font-weight-semi-bold);

    #{$link-card} & {
      color: inherit;
      text-decoration: none;
      &:focus {
        outline: 0;
      }
    }

    @include respond-to(tablet) {
      margin-top: 0;
      margin-right: 2em;
    }
  }

  &__meta {
    grid-area: meta;
    margin: 0 0 0.75em;

    @include respond-to(tablet) {
      margin-right: 2em;
    }

    &__item {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;

      &:not(&:first-of-type) {
        margin-top: 0.5em;
      }
    }
  }

  &__content {
    grid-area: body;
    @include lineEllipsis(3);

    @include respond-to(tablet) {
      margin-right: 2em;
    }
  }
}
