include /components/atoms/category/index
include /components/atoms/datetime/index

//- @pugdoc
  name: articleMeta
  description: meta info component for article
  beforeEach: |
    include /components/utils/util
    include /components/atoms/category/index
    include /components/atoms/datetime/index
  arguments:
    - {object} props
    - {object} props.categories sequence of category
    - {Moment} props.date published date of article
    - {Moment} props.updated updated date of article
  examples:
    - |
      +articleMeta({
        categories: post.categories.toArray(),
        date: post.date,
        updated: post.updated,
      })

mixin articleMeta(props = {})
  -
    // define types
    const articleMetaProps = {
      categories: PropTypes.array.isRequired,
      date: PropTypes.object,
      updated: PropTypes.object,
    };

    // verifying props
    validateProps(articleMetaProps)(props);

    // merge user-supplied options with the defaults
    const defaultProps = {
      categories: [],
    };

    const {
      categories,
      date,
      updated,
      ...attrs
    } = {
      ...defaultProps,
      ...props,
    };

    const { prefix } = theme;

  div(class= `${prefix}-article-meta`)&attributes(attrs)
    +category({
      categories: categories,
      visibleLabel: '📂',
      level: `all`,
      useLink: true,
      separator: `angle-right`,
      class: `${prefix}-article-meta__categories`
    })
    +datetime({
      datetime: date,
      label: _p(`label.date.published`),
      visibleLabel: '📆',
      class: `${prefix}-article-meta__date`
    })
    if (updated)
      +datetime({
        datetime: updated,
        label: _p(`label.date.updated`),
        visibleLabel: 'Updated',
        class: `${prefix}-article-meta__updated`,
      })