.#{$prefix}-article-meta {
  display: flex;
  flex-flow: column;
  margin: 0 -2.75rem 2rem;
  padding: 1rem 2rem;
  background-color: var(--panel-background-color);

  @include respond-to(tablet) {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 -2rem 2rem;
  }

  &__categories {
    margin-bottom: 1em;

    @include respond-to(tablet) {
      margin-bottom: 0;
      margin-right: 2em;
    }
  }

  &__updated {
    margin-left: 0.5em;
    color: var(--text-color-secondary);

    &::before {
      margin-left: 1em;
      content: "(";

      @include respond-to(tablet) {
        margin-left: 0;
      }
    }
    &::after {
      content: ")";
    }
  }
}
