include /components/atoms/ccl-license/index
include /components/atoms/watermark/index

//- @pugdoc
  name: footerContent
  description: generate footer content
  beforeEach: |
    include ../../utils/util
  examples:
    - |
      +footerContent()
mixin footerContent
  - const {prefix} = theme;

  div(class= `${prefix}-footer`)
    +cclLicense({
      name: config.author,
      year: [2012, 2022],
      license: [`by`, `nc`, `nd`],
    })

    //- do not remove this
    +watermark()
