include /components/atoms/ccl-license/index
include /components/atoms/watermark/index

//- @pugdoc
  name: footerContent
  description: generate footer content
  beforeEach: |
    include ../../utils/util
    include ../../atoms/ccl-license/index
    include ../../atoms/watermark/index
  examples:
    - |
      +footerContent()

mixin footerContent
  - const { prefix } = theme;

  div(class= `${prefix}-footer`)
    +cclLicense({
      name: config.author,
      license: [`by`, `nc`, `nd`],
    })

    //- do not remove this
    +watermark()
