.#{$prefix}-btn-basic {
  border-radius: var(--button-border-radius);
  font-family: $font-families-sans-serif;

  // sizes
  &--small {
    // small size is intended to be used for representations in inline level
    padding: 0 0.75rem;
  }

  &--medium {
    min-width: 4.75rem;
    padding: 0.5rem 1.125rem;
  }

  &--large {
    min-width: 6rem;
    padding: 0.75rem 1.875rem;
    font-size: var(--font-size-large);
  }

  &--fluid {
    display: block;
    margin: 2.25rem 0;
    padding: 0.75rem;
    width: 100%;
  }

  // appearance
  &--fill {
    border: 1px solid var(--primary-button-border-color);
    background-color: var(--primary-button-background-color);
    color: var(--primary-button-text-color);
    filter: drop-shadow(2px 2px 2px var(--primary-button-shadow-color));
    @media (prefers-reduced-motion: no-preference) {
      transition: vert-bounce-button 0.3s, background 0.2s ease-in-out;
    }

    &:focus {
      outline: 3px solid var(--primary-button-active-outline-color);
      border-color: var(--primary-button-separator-color);
      background-color: var(--primary-button-background-color);
      filter: drop-shadow(
        2px 2px 2px var(--primary-button-active-shadow-color)
      );
    }

    &:hover {
      border-color: var(--primary-button-active-border-color);
      background-color: var(--primary-button-active-background-color);
      color: var(--primary-button-text-color);
      @include animation(
        (
          name: vert-bounce-button,
          duration: 1.75s,
          iteration: infinite,
          func: cubic-bezier(0.165, 0.84, 0.44, 1),
        )
      );

      &:focus {
        border-color: var(--primary-button-separator-color);
      }
    }
  }

  &--outline {
    border: 1px solid var(--primary-button-border-color);
    background-color: transparent;
    background-image: linear-gradient(
      var(--primary-button-background-color),
      var(--primary-button-background-color)
    );
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 0;
    color: var(--primary-button-text-color-dark);
    filter: drop-shadow(1px 1px 1px var(--primary-button-shadow-color));
    @media (prefers-reduced-motion: no-preference) {
      transition: vert-bounce-button 0.3s, background 0.2s ease-in-out;
    }

    &:focus {
      outline: 3px solid var(--primary-button-active-outline-color);
      border-color: var(--primary-button-separator-color);
      background-color: transparent;
      color: var(--primary-button-text-color-dark);
      filter: drop-shadow(1px 1px 1px var(--primary-button-active-color));
    }

    &:hover {
      border-color: var(--primary-button-active-border-color);
      color: var(--primary-button-text-color);
      background-size: 100% 100%;
      filter: drop-shadow(
        1px 1px 1px var(--primary-button-active-shadow-color)
      );

      @include animation(
        (
          name: vert-bounce-button,
          delay: 0.3s,
          duration: 1.75s,
          iteration: infinite,
          func: cubic-bezier(0.165, 0.84, 0.34, 1),
        )
      );

      &:focus {
        border-color: var(--primary-button-separator-color);
      }
    }
  }
}
