//- @pugdoc
  name: button
  description: create basic button element
  beforeEach: |
    include ../../utils/util
  arguments:
    - {object} options
    - {string} [options.type] ['button'] - the value of type attribute for button
    - {string} [options.size] ['medium'] - size of button <br> one of `'small'`, `'medium'`, `'large'`, `'fluid'`
    - {string} [options.appearance] ['fill'] - appearance of button <br> one of `'fill'`, `'outline'`
  examples:
    - +button() 버튼
mixin button(options)
  -
    const btnProps = {
      size: PropTypes.oneOf([
        `small`,
        `medium`,
        `large`,
        `fluid`,
      ]),
      appearance: PropTypes.oneOf([
        `fill`,
        `outline`,
      ]),
    };
    const btnValidate = validateProps(btnProps);
    const defaults = {type: `button`, size: `medium`, appearance: `default`};
    const { type, size, appearance, ...attrs } = {
      ...defaults,
      ...options,
    };
    btnValidate({size, appearance});
  button(
    type=type
    class=[`_btn-basic`, { [`_btn-basic--${size}`]: size }, { [`_btn-basic--${appearance}`]: appearance }]
  )&attributes(attrs)
    block
