extends /components/templates/archive/index

block prepend heroContent
  -
    const hero = representative_image(theme);

block prepend mainContent
  -
    const archives = archive_map();
    const currYear = page.year;

block sidebar
