extends /components/templates/archive/index

block prepend heroContent
  -
    const primaryHero = {
      path: null,
    };

block prepend mainContent
  -
    const map = mapArchives();
    const archives = page.year ? map.get(page.year) : map;

block sidebar
