extends /components/templates/archive/index

block prepend heroContent
  -
    const primaryHero = {
      path: null,
    };

block prepend mainContent
  -
    const archives = mapArchives();
    const currYear = page.year;

block sidebar
