extends /components/templates/archive/index

block prepend heroContent
  -
    const hero = representativeImage(theme);

block prepend mainContent
  -
    const archives = mapArchives();
    const currYear = page.year;

block sidebar
