extends /components/templates/list/index

block prepend heroContent
  -
    const primaryHero = {
      path: null,
    };

block prepend mainContent
  -
    const posts = page.posts.data || page.posts || [];
    const headingId = generateUid();
    const headingProp = {
      htmlString: page.category,
    };
    const headingScope = `category`;

block sidebar