extends /components/templates/list/index

block prepend heroContent
  -
    const primaryHero = {
      path: null,
    };

block prepend mainContent
  -
    const posts = page.posts.data || page.posts || [];

block sidebar