extends /components/templates/list/index

block prepend heroContent
  -
    const hero = representative_image(theme);

block prepend mainContent
  -
    const posts = page.posts.toArray();
    const headingId = generate_uid();
    const headingProp = {
      htmlString: page.category,
    };
    const headingScope = `category`;

block sidebar