extends /components/templates/list/index

block prepend heroContent
  -
    const hero = representativeImage(theme);

block prepend mainContent
  -
    const posts = page.posts.toArray();
    const headingId = generateUid();
    const headingProp = {
      htmlString: page.category,
    };
    const headingScope = `category`;

block sidebar