extends /components/templates/home/index

block prepend heroContent
  -
    const hero = representativeImage(theme);

block prepend mainContent
  -
    const posts = page.posts.toArray();

block sidebar