extends /components/templates/home/index

block prepend heroContent
  -
    const primaryHero = {
      path: null,
    };

block prepend mainContent
  -
    const posts = (page.posts.data || page.posts || []).slice(0, 5);

block sidebar