extends /components/templates/home/index

block prepend heroContent
  -
    const primaryHero = {
      path: null,
    };

block prepend mainContent
  -
    const posts = page.posts.toArray();

block sidebar