extends /components/templates/post/index

block prepend heroContent
  -
    const hero = representative_image(page);

block prepend mainContent
  -
    const post = page;
    const author = {
      name: config.author,
      gravatar: theme.profile.gravatar,
      description: theme.profile.description || config.description,
      social: theme.profile.social,
    };