extends /components/templates/list/index

block prepend heroContent
  -
    const hero = representative_image(page);

block prepend mainContent
  -
    const posts = page.posts.toArray();
    const headingId = generate_uid();
    const headingProp = {
      htmlString: page.tag,
    };
    const headingScope = `tag`;

block sidebar