.#{$prefix}-article {
  margin: 0 auto;

  &__header {
    max-width: 100ch;
    position: relative;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em 2rem 0;
    border-radius: 0.5rem 0.5rem 0 0;
    background-image: linear-gradient(
      to bottom,
      rgba(var(--background-color-rgb), 0.95) 75%,
      var(--background-color)
    );

    @include respond-to(pc) {
      .#{$prefix}-hero--with-color + .#{$prefix}-article &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 auto;
        box-shadow: 0 0 6px rgba(var(--panel-shadow-color-rgb), 0.2);
        width: 100%;
        height: 2.25rem;
        border-radius: 0.5rem;
        clip-path: ellipse(100% 80% at 50% 20%);
      }
    }

    .#{$prefix}-hero + .#{$prefix}-article & {
      margin-top: -3rem;
      transform: translateZ(1px);

      @include respond-to(mobile) {
        margin-top: -4rem;
      }
    }
  }

  &__heading {
    margin: 0.5em -0.75rem 1em;
    font-size: var(--font-size-heading-level-3);
    font-family: var(--font-family-sans-serif);

    @include respond-to(tablet) {
      margin: 0.5em 0 1em;
      font-size: var(--font-size-heading-level-1);
    }

    &--sub {
      display: inline-block;
      width: 100%;
      font-size: var(--font-size-heading-level-6);
      font-weight: var(--font-weight-medium);
      line-height: 1.6;

      @include respond-to(tablet) {
        font-size: var(--font-size-heading-level-4);
      }
    }
  }

  &__tags {
    max-width: 80ch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 3rem auto;

    &__heading {
      flex: 0 0 1.5em;
      display: inline-flex;
      flex-flow: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 0;
      margin-bottom: 0;
      height: calc(1rem * var(--font-line-height-default));
      font-size: var(--font-size-heading-level-6);

      > svg {
        margin-right: 0.5em;
        width: 1em;
        height: 1em;
        fill: var(--text-color-accent);
      }
    }

    &__list {
      flex: 1 1 auto;
    }
  }

  &__author {
    max-width: 80ch;
    margin: 3rem auto;
    padding-top: 2rem;
    border-top: var(--border-width-thin) solid
      rgba(var(--separator-border-color-rgb), 0.375);
  }

  &__comments {
    max-width: 80ch;
    margin: 3rem auto;
  }
}
