include /components/atoms/radios/boxy

//- @pugdoc
  name: radioBoxes
  description: create radio group component
  see: test
  beforeEach: |
    include ../../utils/util
    include ../../atoms/radios/boxy
  arguments:
    - {object} props
    - {string} props.name attribute of radio
    - |
      {array} props.options the array that consists of options
      for radio component
  slots:
    - |
      radioBoxesLabelSlot the slot for label.
      the number of slots must be equal to number of option items
  examples:
    - |
      // basic
      +radioBoxes({
        name: `size`,
        options: [
          { label: `small`, value: `small`, },
          { label: `medium`, value: `medium`, },
          { label: `large`, value: `large`, },
        ],
      })

      // label with slot
      +radioBoxes({
        name: `size2`,
        options: [
          { value: `small`, },
          { value: `medium`, },
          { value: `large`, },
        ]
      })
        +radioBoxesLabelSlot small 1
        +radioBoxesLabelSlot medium 2
        +radioBoxesLabelSlot large 3

mixin radioBoxes(props = {})
  -
    // define types
    const radioBoxesProps = {
      name: PropTypes.string.isRequired,
      options: PropTypes.array.isRequired,
    };

    // verifying props
    validateProps(radioBoxesProps)(props);

    // merge user-supplied options with the defaults
    const defaultProps = {};

    const {
      name,
      options,
      ...attrs
    } = {
      ...defaultProps,
      ...props,
    };

    const { prefix } = theme;

    // declaring slots
    const radioBoxesLabelSlots = [];

  mixin radioBoxesLabelSlot
    - radioBoxesLabelSlots.push(block);

  div(
    class= [
      `${prefix}-radio-boxes`,
    ]
  )&attributes(attrs)
    each option, idx in options
      -
        const radioOption = {
          id: generateUid(),
          name,
          ...option,
          class: `${prefix}-radio-boxes__item`
        };
      +boxyRadio(radioOption)
        block
        if (radioBoxesLabelSlots[idx])
          - radioBoxesLabelSlots[idx]();
