@use "@source/css/helpers/mixins" as *;

@layer atoms {
  .btn {
    --transition-duration: 0.2s;
    --btn-surface: transparent;
    --btn-surface-hover: transparent;
    --btn-text: transparent;
    --btn-border: transparent;
    --btn-border-hover: transparent;

    position: relative;
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    appearance: none;

    &:focus {
      outline: 2px solid var(--focus-ring);
      outline-offset: 2px;
    }

    &--primary {
      --btn-surface: var(--btn-surface-primary);
      --btn-surface-hover: var(--btn-surface-primary-hover);
      --btn-border: var(--btn-border-primary);
      --btn-border-hover: var(--btn-border-primary-hover);
      --btn-text: var(--btn-text-primary);
      --btn-text-hover: var(--btn-text-primary-hover);
    }

    &--secondary {
      --btn-surface: var(--btn-surface-secondary);
      --btn-surface-hover: var(--btn-surface-secondary-hover);
      --btn-border: var(--btn-border-secondary);
      --btn-border-hover: var(--btn-border-secondary-hover);
      --btn-text: var(--btn-text-secondary);
      --btn-text-hover: var(--btn-text-secondary-hover);
    }

    &--contained {
      color: var(--btn-text);
      background-color: var(--btn-surface);
      background-image: radial-gradient(
        ellipse at bottom left,
        var(--btn-surface-hover) 0%,
        var(--btn-surface-hover) 50%,
        transparent 50%,
        transparent 100%
      );
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: 0 0;
      border-color: var(--btn-border);
      @media (prefers-reduced-motion: no-preference) {
        transition:
          color var(--transition-duration) ease,
          background-size var(--transition-duration) ease-out;
      }

      &:hover,
      &:focus {
        color: var(--btn-text-hover);
        background-size: 300% 300%;
        border-color: var(--btn-border-hover);
        @media (prefers-reduced-motion: reduce) {
          background-color: var(--btn-surface-hover);
        }
      }
    }

    &--outlined {
      color: var(--btn-border);
      background-color: var(--light);
      background-image: radial-gradient(
        ellipse at bottom left,
        var(--btn-surface-hover) 0%,
        var(--btn-surface-hover) 50%,
        transparent 50%,
        transparent 100%
      );
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: 0 0;
      border-color: var(--btn-border);
      @media (prefers-reduced-motion: no-preference) {
        transition:
          border-color var(--transition-duration) ease,
          color var(--transition-duration) ease,
          background-size var(--transition-duration) ease-out;
      }

      &:hover,
      &:focus {
        color: var(--light);
        background-size: 300% 300%;
        border-color: var(--btn-border-hover);

        @media (prefers-reduced-motion: reduce) {
          background-color: var(--btn-surface-hover);
        }
      }
    }

    &--ghost:is(.btn-icon) {
      color: currentcolor;
      background-color: var(--light);
      background-image: radial-gradient(
        ellipse at bottom left,
        var(--btn-surface-hover) 0%,
        var(--btn-surface-hover) 50%,
        transparent 50%,
        transparent 100%
      );
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: 0 0;
      border-color: var(--btn-border);
      border-style: none;
      border-width: 0;
      border-radius: var(--border-radius-circle);
      @media (prefers-reduced-motion: no-preference) {
        transition:
          border-color var(--transition-duration) ease,
          color var(--transition-duration) ease,
          background-size var(--transition-duration) ease-out;
      }

      &:hover,
      &:focus {
        color: var(--light);
        background-size: 300% 300%;
        border-color: var(--btn-border-hover);

        @media (prefers-reduced-motion: reduce) {
          background-color: var(--btn-surface-hover);
        }
      }
    }
  }

  .btn-base {
    --min-width: fit-content;
    --height: 2.25rem;

    gap: 4px;
    min-width: var(--min-width);
    height: var(--height);
    font-family: var(--font-sans-serif);
    border-style: solid;
    border-width: 2px;

    &--x-small {
      padding: var(--spacing-sm) var(--spacing-md);
      border-radius: var(--border-radius-sm);
      @include typo("xs", 500, label);
    }

    &--small {
      --height: 2.75rem;

      padding: var(--spacing-md) var(--spacing-lg);
      border-radius: var(--border-radius-md);
      @include typo("sm", 500, label);
    }

    &--medium {
      --height: 3.5rem;

      padding: var(--spacing-lg) var(--spacing-xl);
      border-radius: var(--border-radius-md);
      @include typo("md", 500, label);
    }

    &--large {
      --height: 4.25rem;

      padding: var(--spacing-xl) var(--spacing-3xl);
      border-radius: var(--border-radius-lg);
      @include typo("lg", 500, label);
    }
  }

  .btn-icon {
    --height: 2.25rem;
    --icon-size: 1.25rem;

    height: var(--height);
    aspect-ratio: 1;
    border-style: solid;
    border-width: 2px;

    &--x-small {
      border-radius: var(--border-radius-sm);
      @include typo("xs", 500, label);
    }

    &--small {
      --height: 2.75rem;

      border-radius: var(--border-radius-md);
      @include typo("sm", 500, label);
    }

    &--medium {
      --height: 3.5rem;
      --icon-size: 1.75rem;

      border-radius: var(--border-radius-md);
      @include typo("md", 500, label);
    }

    &--large {
      --height: 4.25rem;
      --icon-size: 2rem;

      border-radius: var(--border-radius-lg);
      @include typo("lg", 500, label);
    }

    &__icon {
      width: var(--icon-size);
      height: var(--icon-size);
      aspect-ratio: 1;

      &--thin {
        stroke-width: 1px;
      }

      &--medium {
        stroke-width: 3px;
      }

      &--bold {
        stroke-width: 5px;
      }
    }
  }
}
