.#{$prefix}-hero {
  height: 0;
  padding-top: math.div(9, 21) * 100%;
  background-size: cover;
  background-origin: content-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
