//- @pugdoc
  name: hero
  description: create hero component
  beforeEach: |
    include ../../utils/util
  arguments:
    - {object} props
    - {string} props.imgSrc the source url for hero image
  examples:
    - |
      +hero({imgSrc: "hero.jpg"})

mixin hero(props = {})
  -
    // define types
    const heroProps = {
      imgSrc: PropTypes.string.isRequired,
    };

    // verifying props
    validateProps(heroProps)(props);

    const {
      imgSrc,
      ...attrs
    } = props;

    const { prefix } = theme;

  div(
    role= `presentation`
    style= `background-image:url(${imgSrc})`
    class= `${prefix}-hero`
  )&attributes(attrs)
