- const stripFileName = (url) => url.replace(/([^\\\/]+)$/g, ``);
-
  const getTitle = () => {
    const { title, year, month, tag, category } = page;
    const { title: siteTitle, language } = config;
    let pageTitle = siteTitle;
    const date = year
      ? dateFormat(
          new Date(`${year}-${month || ''}`),
          month ? `yyyy.LL` : `yyyy`
        )
      : ``;
    if (is_home()) pageTitle = title || siteTitle;
    if (is_post()) pageTitle = title || siteTitle;
    if (is_archive()) pageTitle = _p(`title.archives`, date);
    if (is_tag()) pageTitle = _p(`title.tag`, tag, getJosa(tag, '와'));
    return pageTitle;
  };
