.#{$prefix}-checkbox {
  $control: #{&}__control;

  &__control {
    outline: 0;
    order: 1;
    @include sr-only;
  }

  &__label {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding-right: 0.5rem;
    color: var(--primary-button-text-color-dark);

    &::before {
      content: "";
      display: inline-block;
      margin-right: 0.5rem;
      border-radius: var(--primary-button-border-radius);
      border: 2px solid var(--primary-button-border-color);
      width: 1.25rem;
      height: 1.25rem;

      #{$control}:checked + & {
        background-color: var(--primary-button-background-color);
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' fill='white'><path d='M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z'/></svg>");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 80%;
      }

      #{$control}:focus + & {
        outline: 2px solid var(--primary-button-active-outline-color);
        outline-offset: 1px;
        border-color: var(--primary-button-border-color);
      }
    }

    &--column {
      flex-flow: column;
      align-items: center;

      &::before {
        margin: 0 0 0.5rem 0;
      }
    }

    &--reverse:not(&--column) {
      flex-direction: row-reverse;

      &::before {
        margin: 0 0 0 0.5rem;
      }
    }

    &--reverse:is(&--column) {
      flex-direction: column-reverse;

      &::before {
        margin: 0.5rem 0 0;
      }
    }
  }
}
