.#{$prefix}-category-nav {
  &__list {
    $parent-list: &;
    margin: 0;
    padding: 0 0 0 0.5rem;
    width: 100%;

    @include respond-to(tablet) {
      padding-left: 1rem;
    }

    &--child {
      padding: 0 0 2rem 1rem;
    }

    &__item {
      line-height: 1.8;

      &::marker {
        content: none;
      }

      #{$parent-list}:not(#{$parent-list}--child) > & {
        padding-top: 0.75rem;
        border-top: var(--border-width-thin) solid var(--separator-border-color);
        font-weight: var(--font-weight-semi-bold);
        color: var(--text-color-secondary);

        &:first-child {
          border-top: 0;
        }
      }

      #{$parent-list}--child > & {
        font-weight: var(--font-weight-medium);
        color: var(--text-color-secondary);
      }
    }

    &__link {
      &#{&} {
        // to increase priority
        display: inline-flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 0.5rem;
        width: 100%;
        color: inherit;
        text-decoration: none;
        background-image: linear-gradient(transparent, transparent),
          linear-gradient(
            to top,
            transparent,
            var(--button-background-color) 0 0
          );
        background-position: 0 0, 0% 100%;
        background-size: 100%, 100% 0%;
        background-repeat: no-repeat;
        @media (prefers-reduced-motion: no-preference) {
          transition: color 0.2s, background-size 0.2s ease-in-out;
        }

        &:hover {
          color: var(--button-text-color);
          text-decoration: none;
          background-size: 100%, 100% 100%;
        }

        &--current {
          &::before {
            content: "";
            margin-left: calc(-0.25rem + 2px);
            width: 0.25rem;
            height: 1.5rem;
            background-color: var(--text-link-current-indicator-color);
            transform: translate(-0.25rem, 0);
          }

          &:hover {
            &::before {
              background-color: var(--text-link-hover-color);
            }
          }
        }
      }
    }
  }
}
