.#{$prefix}-radio-boxy {
  $control: #{&}__control;

  flex: 1 1 auto;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  color: var(--button-text-color-dark);

  &__control {
    @include sr-only;
    outline: 0;
    position: absolute !important;
  }

  &__box {
    flex: 1 1 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--button-border-color);
    padding: 0.5rem 1.125rem;
    background-color: var(--background-color);
    background-image: linear-gradient(
      var(--button-hover-background-color),
      var(--button-hover-background-color)
    );
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 0;
    font-family: var(--font-family-sans-serif);
    word-break: keep-all;

    #{$control}:checked + & {
      border-color: var(--button-hover-border-color);
      color: var(--button-text-color);
      background-size: 100% 100%;
    }

    #{$control}:focus + & {
      outline: 2px solid var(--button-outline-color);
      outline-offset: 1px;
      border-color: var(--button-border-color);
    }
  }
}
