.#{$prefix}-radio {
  $control: #{&}__control;

  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  &__control {
    @include sr-only;
    outline: 0;
    position: absolute !important;
  }

  &__label {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--primary-button-text-color-dark);

    &::before {
      content: "";
      flex: none;
      display: inline-block;
      margin-right: 0.5rem;
      border-radius: 50%;
      border: 2px solid var(--primary-button-border-color);
      width: 1.25rem;
      height: 1.25rem;
      background-color: var(--background-color);
      transform: translate(0, 0.25rem);

      #{$control}:checked + & {
        border-width: 0.425rem;
      }

      #{$control}:focus + & {
        outline: 2px solid var(--primary-button-active-outline-color);
        outline-offset: 1px;
        border-color: var(--primary-button-border-color);
      }
    }

    &--column {
      flex-flow: column;
      align-items: center;

      &::before {
        margin: 0 0 0.5rem 0;
        transform: translate(0, 0.125rem);
      }
    }

    &--reverse:not(&--column) {
      flex-direction: row-reverse;

      &::before {
        margin: 0 0 0 0.5rem;
      }
    }

    &--reverse:is(&--column) {
      flex-direction: column-reverse;

      &::before {
        margin: 0.5rem 0 0;
        transform: translate(0, -0.125rem);
      }
    }
  }
}
