//- @pugdoc
  name: titleBar
  description: a title bar located at the top of the page
  beforeEach: |
    include /components/utils/util
  arguments:
    - {object} props
    - {string} props.title the text to use as a title
    - {boolean} [props.useLink] [true] whether to use link
  slots:
    - beforeSlot the slot to be placed before title
    - afterSlot the slot to be placed after title
  examples:
    - |
      // without slot
      +titleBar({title: config.title, useLink: true})

mixin titleBar(props = {})
  -
    // define types
    const titleBarProps = {
      title: PropTypes.string.isRequired,
      useLink: PropTypes.bool,
    };

    // verifying props
    validateProps(titleBarProps)(props);

    // merge user-supplied options with the defaults
    const defaultProps = {
      useLink: true,
    };

    const {
      title,
      useLink,
      ...attrs
    } = props;

    const { prefix } = theme;

    // declaring slots
    let beforeSlot = null;
    let afterSlot = null;

  mixin beforeSlot
    - beforeSlot = block;

  mixin afterSlot
    - afterSlot = block;

  div(
    class= `${prefix}-title-bar`
  )&attributes(attrs)
    block
    - beforeSlot && beforeSlot();
    h1(class= `${prefix}-title-bar__title`)
      if (useLink)
        a(
          href= `/`
        )= title
      else
        span= title
    - afterSlot && afterSlot();
