//- @pugdoc
  name: titleBar
  description: create a title bar located at the top of the page
  beforeEach: |
    include ../../utils/util
  arguments:
    - {object} props
    - {string} [props.title] the text to use as a title
  slots:
    - default you can append content before title text
  examples:
    - |
      +titleBar({title: "Hexo Blog"})
mixin titleBar(props)
  -
    const titleBarProps = {
      title: PropTypes.string.isRequired,
    };
    const titleBarValidate = validateProps(titleBarProps);
    const {
      title,
      ...attrs
    } = props;
    titleBarValidate({title});

    const {prefix} = theme;
    const uid = id || generateUid();

  div(
    id= uid
    class= `${prefix}-title-bar`
  )&attributes(attrs)
    block
    span(class= `${prefix}-title-bar__title`)= title
