//- @pugdoc
  name: titleBar
  description: create a title bar located at the top of the page
  beforeEach: |
    include ../../utils/util
  arguments:
    - {object} props
    - {string} [props.title] the text to use as a title
  slots:
    - beforeSlot the slot to be placed before title
    - afterSlot the slot to be placed after title
  examples:
    - |
      // without slot
      +titleBar({title: config.title, useLink: true})

mixin titleBar(props)
  -
    const titleBarProps = {
      title: PropTypes.string.isRequired,
      useLink: PropTypes.bool,
    };
    const titleBarValidate = validateProps(titleBarProps);
    const {
      title,
      useLink,
      ...attrs
    } = props;
    titleBarValidate({title, useLink});

    const {prefix} = theme;

    let beforeSlot = null;
    let afterSlot = null;

  mixin beforeSlot
    - beforeSlot = block;

  mixin afterSlot
    - afterSlot = block;

  div(
    class= `${prefix}-title-bar`
  )&attributes(attrs)
    block
    - beforeSlot && beforeSlot();
    h1(class= `${prefix}-title-bar__title`)
      if (useLink)
        a(
          href= `/`
        )= title
      else
        span= title
    - afterSlot && afterSlot();
