@use "../helpers/functions" as *;

:root {
  --bg-color-primary: #{color("neutral", 50)};
  --white: #{color("white")};
  --black: #{color("black")};
  --light: #{color("neutral", 50)};
  --dark: #{color("bluegray", 900)};
  --text-primary: #{color("black")};

  // border radius
  --border-radius-xs: #{radius("xs")};
  --border-radius-sm: #{radius("sm")};
  --border-radius-md: #{radius("md")};
  --border-radius-lg: #{radius("lg")};
  --border-radius-xl: #{radius("xl")};
  --border-radius-2xl: #{radius("2xl")};
  --border-radius-circle: #{radius("circle")};

  // spacing
  --spacing-xs: #{spacing("xs")};
  --spacing-sm: #{spacing("sm")};
  --spacing-md: #{spacing("md")};
  --spacing-lg: #{spacing("lg")};
  --spacing-xl: #{spacing("xl")};
  --spacing-2xl: #{spacing("2xl")};
  --spacing-3xl: #{spacing("3xl")};

  // focus ring
  --focus-ring: #{color("green", 700)};

  // button colors
  --btn-surface-primary: #{color("green", 600)};
  --btn-surface-primary-hover: #{color("green", 700)};
  --btn-border-primary: #{color("green", 600)};
  --btn-border-primary-hover: #{color("green", 700)};
  --btn-text-primary: #{color("neutral", 50)};
  --btn-text-primary-hover: #{color("neutral", 50)};
  --btn-surface-secondary: #{color("neutral", 600)};
  --btn-surface-secondary-hover: #{color("neutral", 700)};
  --btn-border-secondary: #{color("neutral", 650)};
  --btn-border-secondary-hover: #{color("neutral", 750)};
  --btn-text-secondary: var(--white);
  --btn-text-secondary-hover: var(--white);

  // tooltip colors
  --tooltip-bg: #{color("green", 650)};
  --tooltip-border: #{color("green", 750)};
  --tooltip-text: #{color("neutral", 50)};

  // Radio colors
  --radio-border: #{color("green", 600)};
  --radio-surface: #{color("green", 600)};
  --radio-label: var(--dark);
  --radio-border-disabled: #{color("neutral", 500)};
  --radio-surface-disabled: #{color("neutral", 500)};
  --radio-label-disabled: #{color("neutral", 500)};
  --radio-btn-surface: #{color("green", 600)};
  --radio-btn-text: #{color("green", 600)};
  --radio-btn-text-checked: #{color("neutral", 50)};
  --radio-btn-surface-disabled: #{color("neutral", 500)};
  --radio-btn-text-disabled: #{color("neutral", 500)};

  // Checkbox colors
  --checkbox-border: #{color("green", 600)};
  --checkbox-surface: #{color("green", 600)};
  --checkbox-label: var(--dark);
  --checkbox-border-disabled: #{color("neutral", 500)};
  --checkbox-surface-disabled: #{color("neutral", 500)};
  --checkbox-label-disabled: #{color("neutral", 500)};

  // Switch colors
  --switch-track: #{color("neutral", 600)};
  --switch-track-on: #{color("green", 600)};
  --switch-track-disabled: #{color("neutral", 500)};
  --switch-surface: #{color("neutral", 50)};

  // Slider colors
  --slider-rail: #{color("neutral", 300)};
  --slider-fill: #{color("green", 600)};
  --slider-fill-hover: #{color("green", 700)};
  --slider-thumb-surface: #{color("neutral", 50)};
  --slider-thumb-border: #{color("green", 700)};
  --slider-mark: #{color("neutral", 500)};
  --slider-mark-active: #{color("green", 600)};
  --slider-label: var(--text-primary);
  --slider-disabled: #{color("neutral", 500)};
  --slider-focus: var(--focus-ring);

  // TextField colors
  --textfield-border: #{color("green", 600)};
  --textfield-border-invalid: #{color("scarlet", 600)};
  --textfield-border-disabled: #{color("neutral", 500)};
  --textfield-surface: var(--light);
  --textfield-surface-disabled: #{color("neutral", 100)};
  --textfield-text: var(--text-primary);
  --textfield-text-disabled: #{color("neutral", 600)};
  --textfield-placeholder: #{color("neutral", 600)};
  --textfield-icon: #{color("neutral", 650)};

  @media (prefers-color-scheme: dark) {
    --bg-color-primary: #{color("bluegray", 900)};
    --white: #{color("black")};
    --black: #{color("white")};
    --light: #{color("bluegray", 900)};
    --dark: #{color("neutral", 50)};
    --text-primary: #{color("neutral", 150)};

    // focus ring
    --focus-ring: #{color("mintgreen", 300)};

    // button colors
    --btn-surface-primary: #{color("mintgreen", 450)};
    --btn-surface-primary-hover: #{color("mintgreen", 300)};
    --btn-border-primary: #{color("mintgreen", 450)};
    --btn-border-primary-hover: #{color("mintgreen", 300)};
    --btn-text-primary: #{color("bluegray", 900)};
    --btn-text-primary-hover: #{color("bluegray", 900)};
    --btn-surface-secondary: #{color("neutral", 450)};
    --btn-surface-secondary-hover: #{color("neutral", 300)};
    --btn-border-secondary: #{color("neutral", 450)};
    --btn-border-secondary-hover: #{color("neutral", 300)};
    --btn-text-secondary: var(--white);
    --btn-text-secondary-hover: var(--white);

    // tooltip colors
    --tooltip-bg: #{color("mintgreen", 450)};
    --tooltip-border: #{color("mintgreen", 200)};
    --tooltip-text: #{color("bluegray", 850)};

    // Radio colors
    --radio-border: #{color("mintgreen", 450)};
    --radio-surface: #{color("mintgreen", 450)};
    --radio-border-disabled: #{color("neutral", 650)};
    --radio-surface-disabled: #{color("neutral", 650)};
    --radio-label-disabled: #{color("neutral", 650)};
    --radio-btn-surface: #{color("mintgreen", 450)};
    --radio-btn-text: #{color("mintgreen", 450)};
    --radio-btn-text-checked: #{color("bluegray", 900)};
    --radio-btn-surface-disabled: #{color("neutral", 650)};
    --radio-btn-text-disabled: #{color("neutral", 650)};

    // Checkbox colors
    --checkbox-border: #{color("mintgreen", 450)};
    --checkbox-surface: #{color("mintgreen", 450)};
    --checkbox-label: var(--dark);
    --checkbox-border-disabled: #{color("neutral", 650)};
    --checkbox-surface-disabled: #{color("neutral", 650)};
    --checkbox-label-disabled: #{color("neutral", 650)};

    // Switch colors
    --switch-track: #{color("neutral", 400)};
    --switch-track-on: #{color("mintgreen", 450)};
    --switch-track-disabled: #{color("neutral", 650)};
    --switch-surface: #{color("bluegray", 900)};

    // Slider colors
    --slider-rail: #{color("neutral", 650)};
    --slider-fill: #{color("mintgreen", 450)};
    --slider-fill-hover: #{color("mintgreen", 300)};
    --slider-thumb-surface: #{color("bluegray", 900)};
    --slider-thumb-border: #{color("mintgreen", 300)};
    --slider-mark: #{color("neutral", 650)};
    --slider-mark-active: #{color("mintgreen", 450)};
    --slider-label: var(--text-primary);
    --slider-disabled: #{color("neutral", 650)};
    --slider-focus: var(--focus-ring);

    // TextField colors
    --textfield-border: #{color("mintgreen", 450)};
    --textfield-border-invalid: #{color("scarlet", 300)};
    --textfield-border-disabled: #{color("neutral", 650)};
    --textfield-surface: var(--light);
    --textfield-surface-disabled: #{color("bluegray", 850)};
    --textfield-text: var(--text-primary);
    --textfield-text-disabled: #{color("neutral", 650)};
    --textfield-placeholder: #{color("neutral", 400)};
    --textfield-icon: #{color("neutral", 300)};
  }

  @media (prefers-contrast: more) and (prefers-color-scheme: dark) {
    --text-primary: var(--dark);

    // button colors
    --btn-surface-primary: #{color("mintgreen", 300)};
    --btn-surface-primary-hover: #{color("mintgreen", 150)};
    --btn-border-primary: #{color("mintgreen", 300)};
    --btn-border-primary-hover: #{color("mintgreen", 150)};
    --btn-surface-secondary: #{color("neutral", 300)};
    --btn-surface-secondary-hover: #{color("neutral", 150)};
    --btn-border-secondary: #{color("neutral", 300)};
    --btn-border-secondary-hover: #{color("neutral", 150)};

    // tooltip colors
    --tooltip-bg: #{color("mintgreen", 200)};
    --tooltip-border: #{color("mintgreen", 100)};
    --tooltip-text: #{color("bluegray", 900)};

    // Radio colors
    --radio-border: #{color("mintgreen", 300)};
    --radio-surface: #{color("mintgreen", 300)};
    --focus-ring: #{color("mintgreen", 200)};
    --radio-btn-surface: #{color("mintgreen", 300)};
    --radio-btn-text: #{color("mintgreen", 300)};
    --checkbox-btn-text: #{color("mintgreen", 300)};

    // Checkbox colors
    --checkbox-border: #{color("mintgreen", 300)};
    --checkbox-surface: #{color("mintgreen", 300)};
    --checkbox-label: var(--dark);

    // Switch colors
    --switch-track: #{color("neutral", 300)};
    --switch-track-on: #{color("mintgreen", 300)};
    --switch-track-disabled: #{color("neutral", 650)};
    --switch-surface: #{color("bluegray", 900)};

    // Slider colors
    --slider-rail: #{color("neutral", 500)};
    --slider-fill: #{color("mintgreen", 300)};
    --slider-fill-hover: #{color("mintgreen", 150)};
    --slider-thumb-border: #{color("mintgreen", 200)};
    --slider-mark: #{color("neutral", 500)};
    --slider-mark-active: #{color("mintgreen", 300)};
    --slider-disabled: #{color("neutral", 650)};
    --slider-focus: #{color("mintgreen", 200)};

    // TextField colors
    --textfield-border: #{color("mintgreen", 300)};
    --textfield-border-invalid: #{color("scarlet", 200)};
    --textfield-border-disabled: #{color("neutral", 650)};
    --textfield-surface-disabled: #{color("bluegray", 850)};
    --textfield-text-disabled: #{color("neutral", 500)};
    --textfield-placeholder: #{color("neutral", 300)};
    --textfield-icon: #{color("neutral", 250)};
  }
}
