include ../utils/util.pug

doctype html
html(lang=config.language)
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="canonical" href=stripFileName(url))
    +pageSequenceLink
    +pageTitle
    +preLoadImage
    link(rel="stylesheet" href=url_for("/css/index.css"))
  body
