body {
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: min-content 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "side header"
    "side main"
    "side footer";
  width: 100%;
  background-color: var(--panel-background-color);

  @include respond-to(tablet) {
    grid-template-columns: min-content 1fr;
  }

  &.opened-panel {
    position: fixed;

    @include respond-to(tablet) {
      position: relative;
    }
  }
}

.#{$prefix} {
  &-title-bar__title {
    transform: translate(math.div(-3.2em, 2), 0);
    max-width: calc(100% - (3.2em * 2.5));
  }
  &-btn-menu {
    position: sticky;
    top: 0;
    margin-top: 1px;
    margin-left: 1px;

    > svg {
      transform: rotate(0deg);
      transition: all 0.4s;
    }

    &[aria-expanded="true"] > svg {
      transform: rotate(180deg);
    }
  }
}

._side {
  &#{&} {
    min-height: 100vh;
    // to increase priority
    grid-area: side;
    position: fixed;
    top: 0;
    left: -768px;
    width: 100%;
    height: 100%;

    @include respond-to(tablet) {
      left: convertRem(-400px, 18px);
      width: convertRem(400px, 18px);
    }

    @include respond-to(large) {
      position: sticky;
      top: 0;
      left: initial;
      margin-left: convertRem(-400px, 18px);
      height: 100vh;
    }
  }

  &.transition {
    @media (prefers-reduced-motion: no-preference) {
      transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }
  }

  &.open {
    left: 0;
    z-index: var(--highest--z-index);
    transform: translateZ(100px);

    @include respond-to(large) {
      left: initial;
      margin-left: 0;
    }
  }

  &__inner {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .#{$prefix} {
    &-side-panel {
      &__btn-close {
        top: 0;
      }

      &__search {
        &[href] {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          gap: 0.25em;
          border: var(--border-width-bold) solid transparent;
          padding: 0.5em 0.5em;
          font-family: var(--font-family-sans-serif);
          font-weight: var(--font-weight-semi-bold);
          color: inherit;
          text-decoration: none;
          text-transform: capitalize;

          @include respond-to(tablet) {
            padding: 0.5em 1em;
          }
        }

        &:hover {
          background-color: var(--button-background-color);
          color: var(--button-text-color);
          filter: drop-shadow(1px 1px 1px var(--button-focus-shadow-color));
        }
        &:focus {
          border-color: var(--button-outline-color);
          outline: 0;
        }

        &__icon {
          margin-left: auto;
          width: 1rem;
          height: 1rem;
          color: var(--button-text-color-dark);
          pointer-events: none;
        }

        &:hover .#{$prefix}-side-panel__search__icon {
          color: var(--button-text-color);
        }
      }
    }

    &-accordion__header {
      font-family: var(--font-family-sans-serif);

      .#{$prefix}-accordion__tab {
        text-transform: capitalize;
      }
    }
  }
}

._header {
  overflow: hidden;
  grid-area: header;
  background-color: var(--background-color);

  @include respond-to(large) {
    position: sticky;
    top: 0;
    z-index: var(--highest--z-index);
  }
}

._container {
  $main-container-horizon-space: 0.75rem !global;
  grid-area: main;
  padding: 2rem $main-container-horizon-space 7.5rem;
  background-color: var(--background-color);
}

._footer {
  grid-area: footer;
}
