include /components/atoms/heading/index
include /components/molecules/post-meta/index
include /components/organisms/article-content/index

mixin article(props = {})
  -
    // define types
    const articleProps = {
      post: PropTypes.object.isRequired,
    };

    // verifying props
    validateProps(articleProps)(props);

    const {
      post,
      ...attrs
    } = {
      ...props,
    };

    const { prefix } = theme;

  article(class= `${prefix}-article`)&attributes(attrs)
    div(class= `${prefix}-article__header`)
      +heading({
        level: 1,
        htmlString: post.title,
        class: `${prefix}-article__heading`
      })
      +postMeta({
        categories: post.categories.data || post.categories || [],
        date: post.date,
        updated: post.updated,
      })

    +articleContent({
      content: page.content
    })
